/*Style sheet for the Kool Stuph webpage*/

html, body {
    height: 100%; width: 100%;
    } 
    
    @media print, screen and (min-width: 480px)
        .menu-burger, .menu-chkbx, .hamburger {
        display:none;
        }

    header h2 {
        margin: 30px 0px 0px 20px;
    }
    
    header h1 a {
        text-decoration: none;
        text-align: center; 
        letter-spacing: 1px;
        margin: 9px 0px 0px 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color:black;
    }

    .patterned {
        background-image: repeating-linear-gradient(
          45deg,
          #ffffff 0px,
          #ffffff 25px,
          #000000 25px,
          #000000 50px
        );
      }

        footer {
            text-align: center;
            text-shadow: 0px 0px 6px rgb(0, 0, 0);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            bottom: 0;
            width:100%;
            height:60px;
            color: rgb(255, 255, 255);
            }
        
    @media print, screen and (max-width: 768px) {
        section {
            width: 100%;
            text-align: center;
        }
    
        section table {
            margin: 10px auto 20px auto;
        }
    }

    .container {
        margin: 15px;
        display: flex;
        border: 4px solid black;
        border-radius: 10px;    
        align-items: center;
        align-self: center;
        background-color: rgb(147, 132, 132);
      }

      .text {
        flex: 1;
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
      }

      .image {
        flex: 1;
      }
      
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    
    .background{
        align-self: center;
        background-color: rgb(119, 106, 106);
    }
    
    nav ul {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    nav ul li {
            list-style: none;
            display: inline;
            margin: 5px 20px 0px 0px;
            color:black;
          }
    
    .flex {
        display: flex;
        justify-content: space-between
        align-items: baseline;
    }

    li a {
        text-decoration: none;
        color:black;
        line-height: 40px;
        display: block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }
    
    li a:hover {
        background-color: rgb(235, 235, 235); 
        color: black;
    }
    
    .board {
        position: absolute;
        top: 4.3vh;
        left: 10vw;
        cursor: pointer;
      }
      
      .board img {
        width: 35.3vw;
        height: 45.5vh;
        border-radius: 15%;
      }